docs: [w3schools.com](https://www.w3schools.com/python/python_tuples.asp), &nbsp; [docs.python.org](https://docs.python.org/3/library/stdtypes.html#tuple)

In [1]:
tp = (0, 10, 20)
print(tp)              #> (0, 10, 20)
print(type(tp))        #> <class 'tuple'>
print(len(tp))         #> 3
print()

print(tp[1])           #> 10
print(tp[-1])          #> 20
# print(tp[99])        #> IndexError: tuple index out of range
print()

print(10 in tp)        #> True
print('a' in tp)       #> False
print('a' not in tp)   #> True

# print(dir(tp))       # [list of methods]

In [2]:
# empty tuple
tp_empty = ()
print(tp_empty)        #> ()
print(type(tp_empty))  #> <class 'tuple'>
print()

tp_empty2 = list()
print(tp_empty2)       #> ()
print(type(tp_empty2)) #> <class 'tuple'>
print()


# list constructor
tpc = tuple(('a', 'b', 'c'))  # note the double brackets
print(tpc)             #> ['list', 'con', 'structor']

tpc2 = tuple('abcd')
print(tpc2)            #> ('a', 'b', 'c', 'd')

()
<class 'tuple'>

[]
<class 'list'>

('a', 'b', 'c')
('a', 'b', 'c', 'd')

In [3]:
ls = (0, 10, 20)

ls_copied = ls     # copy only references, but since tuple is immutable than this is OK

print(ls)
print(ls_copied)

(0, 10, 20)
(0, 10, 20)

In [4]:
# slicing
tp = (0, 10, 20, 30, 40, 50)
print(tp)              #> (0, 10, 20, 30, 40, 50)

subtuple1 = tp[1:3]
print(subtuple1)        #> (10, 20)

subtuple2 = tp[:-1]
print(subtuple2)        #> 0, 10, 20, 30, 40)

subtuple3 = tp[1:4:2]
print(subtuple3)        #> (10, 30)

subtuple4 = tp[4:1:-2]
print(subtuple4)        #> (40, 20)

(0, 10, 20, 30, 40, 50)
(10, 20)
(0, 10, 20, 30, 40)
(10, 30)
(40, 20)

In [5]:
# looping through elements
tp = ('a', 'b', 'c')

for ch in tp:
    print(ch, end=' ')   #> a b c 
print()
    
print(*tp, sep=', ')     #> a, b, c

for ch in reversed(tp):
    print(ch, end=' ')   #> c b a

a b c
a, b, c
c b a

In [6]:
tp = ('a', 'b')

del tp        #  delete tuple completely
# print(tp)   #> NameError: name 'tp' is not defined
              # for testing we can write 'tp' in globals() -> False

In [7]:
tp = (0,) * 3    #  notice comma, here it is required to denote one-element tuple
print(tp)        #> (0, 0, 0)

tp = ('a', 'b')
tp *= 3          #  -update list with its contents repeated several times
print(tp)        #> ('a', 'b', 'a', 'b', 'a', 'b')

tp_c = [[10, 20]]  # potential caveat: if inside tuple there's a changeable object, it can be changed,
tp_c *=  3         #                   and these changes will be duplicated
print(tp_c)
tp_c[0][0] = 55
print(tp_c)

(0, 0, 0)
('a', 'b', 'a', 'b', 'a', 'b')
[[10, 20], [10, 20], [10, 20]]
[[55, 20], [55, 20], [55, 20]]

In [8]:
tp1 = (0, 10, 20)
tp2 = ('a', 'b')

tp_join = tp1 + tp2
print(tp_join)                       #> (0, 10, 20, 'a', 'b')
print('id(tp1)     =', id(tp1))      #> id_1
print('id(tp2)     =', id(tp2))      #> id_2
print('id(tp_join) =', id(tp_join))  #> id_3
print()

tp1 += tp2
print(tp1)                           #> (0, 10, 20, 'a', 'b')
print(tp2)                           #> ('a', 'b')
print('id(tp1)     =', id(tp1))      #> id_4  -i.e. id changed

(0, 10, 20, 'a', 'b')
id(tp1)     = 140679319249280
id(tp2)     = 140679370060416
id(tp_join) = 140679370266080

(0, 10, 20, 'a', 'b')
('a', 'b')
id(tp1)     = 140679310793760

In [9]:
tp = (23, 10, 50, 37)

print(min(tp))     #> 10
print(max(tp))     #> 50
print(sum(tp))     #> 120
print()

tp = ('b', 'a', 'd', 'c')
print(min(tp))     #> a
print(max(tp))     #> d
# print(sum(tp))   #> TypeError: unsupported operand type(s) for +: 'int' and 'str'

10
50
120

a
d

In [10]:
tp = ('a', 10, 20, 'a', 10, 'a')

print(tp.count('a'))    #> 3  -number of elements with the specified value
print(tp.count('xx'))   #> 0
print()

print(tp.index(10))     #>1  -index of the first element with the specified value
print(tp.index(10, 2))  #>4  ——//—— beginning with the given start index

3
0

1
4

In [11]:
tp = (23, 10, 50, 37)
print('  sorted(tp):')

print(sorted(tp))      #> [10, 23, 37, 50]  -result of operation is a list
print(tp)              #> (23, 10, 50, 37)  -original has not changed
print()


# it's possible sorting according to specified rule (key=...)
print('  sorted(tp, key=…):')

tp = ('b', 'A', 'D', 'c')
print(sorted(tp))                 #> ['A', 'D', 'b', 'c']
print(sorted(tp, key=str.lower))  #> ['A', 'b', 'c', 'D']

  sorted(tp):
[10, 23, 37, 50]
(23, 10, 50, 37)

  sorted(tp, key=…):
['A', 'D', 'b', 'c']
['A', 'b', 'c', 'D']

In [12]:
tp = ('a', 10, 'b')
print('  reversed(tp):')

rev_iter = reversed(tp)
print(rev_iter)          #> <list_reverseiterator object at 0x…>  -reversed iterator object

for el in rev_iter:
    print(el, end=' ')   #> d bb 10 a        # it can also be written 'print(*rev_iter)'

  reversed(tp):
<reversed object at 0x7ff274514eb0>
b 10 a

In [13]:
# unpacking
tp = (10, 20, 30, 40, 50)

a, *_, y, z = tp

print('a =', a)
print('y =', y)
print('z =', z)
print('_ =', _)

a = 10
y = 40
z = 50
_ = [20, 30]

<br>

For heterogeneous collections of data, where access by name is clearer than access by index, [collections.namedtuple()](https://docs.python.org/3/library/collections.html#collections.namedtuple) may be a more appropriate choice than a simple tuple object.